<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div id="create_form">
  <header class="form_header"><h1>Register with us</h1><br/><hr class="hrformcrtusr"/></header>  
  <main class="form_main">
  <div class="formrow">
	  <div class="field_full">
	    <%= f.text_field :email, :placeholder => "Email", :class => 'txt_full' %>
	  </div>
	  <label class="space_lbl">space</label>
  </div>	
  
  <div class="formrow">
	  <div class="field_half">
	    <%= f.text_field :f_name, :placeholder => "First Name" , :class => 'txt_half' %>
	  </div>
	  <div class="field_half">
	    <%= f.text_field :l_name, :placeholder => "Last Name", :class => 'txt_half' %>
	  </div>
	  <label class="space_lbl">space</label>
  </div>  
  <div class="formrow">
	  <div class="field_half">
	    <%= f.password_field :password, :placeholder => "Password", :class => 'txt_half'  %>
	  </div>
	  <div class="field_half">
	    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => 'txt_half' %>
	  </div>
	  <label class="space_lbl">space</label>
  </div>
  <br/>  
  <!-- <div class="field">  	
    <%= f.check_box :vendor_flag%>
    <%= f.label "I am a Vendor" , :class => 'vendor_flag_lbl' %>
  </div> -->
  </main>
  <hr class="hrformcrtusr"/>
  <footer class="form_footer"><br/>
  <div class="actions_crtuser">
    <%= f.submit :class => 'btnmain' %>
  </div>
  </footer>
  </div>

<% end %>
